.featured-project {
    flex: 0 1 calc((100% / 3) - 5rem);
    min-height: 43rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    transition: all .5s;
    position: relative;

    @media only screen and (max-width: 900px) {
            width: 65%;
            margin: 0 auto;
            margin-bottom: 3rem;
        }

    &__img {
        width: 100%; 
        height: 75%; 
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;

        @include respond(tab-land) {
            height: 70%;
        }

        @include respond(tab-port) {
            height: 60%;
        }

        @media only screen and (max-width: 900px) {
            height: 75%;
        }
    }

    &__description {
        position: absolute;
        bottom: 0; 
        left: 0; 
        width: 100%;
        height: 25%;
        background-color: darken(rgba($color-primary-blue, .9), 21%);

        @include respond(tab-land) {
            height: 35%;
        }

        @include respond(tab-port) {
            height: 40%;
        }

        @media only screen and (max-width: 900px) {
            height: 25%;
        }
    }

    &__heading {
        font-size: 2.6rem;
        font-weight: 700;
        color: $color-primary-orange;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }

    &__text {
        font-size: 1.9rem;
        font-weight: 600;
        color: $color-white;
        margin-left: 2rem;
        margin-top: .5rem;
    }

    &__flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin-top: .5rem;
        margin-right: .5rem;
    }

    &__icon {
        width: 3rem;
        height: 3rem;

        &--html {
            color: $color-html;
        }

        &--css {
            color: $color-css;
        }

        &--js {
            color: $color-js;
        }

        &--react {
            color: $color-react;
        }

        &--wp {
            color: $color-wp;
        }

        &--php {
            color: $color-php;
        }

        &--shopify {
            color: $color-shopify;
        }
    }

    &:hover {
        transform: translateY(-4px);
    }

    &:hover::after {
        content:'';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
        opacity: 1;
    }
}