.project-card {
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 9rem 2rem;
    margin: 5rem;
    border-radius: 3px;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.3);
    background-color: darken(rgba($color-primary-blue, .9), 30%);;
    transition: all .65s;

    &__thumbnail {
        width: 50%;
    }

    &__img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 1rem 1rem rgba(0,0,0,.5);
    }

    &__info-container {
        width: 40%;
    }

    &__description {
        color: $color-white;
    }

    &__title {
        font-size: 4rem;
        color: $color-primary-orange;
        text-shadow: 0 1rem 1rem rgba($color-black, .2);
    }

    &__icons {
        display: flex;
        gap: 1rem;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
    }

    &__paragraph {
        font-size: 1.8rem;
        color: $color-white;
        text-shadow: 0 1rem 1rem rgba($color-black, .2);
    }

    &__links {
      display: flex;
      gap: 2rem;
    }

    &__link {
      font-size: 1.8rem;
      text-decoration: none;
      color: $color-primary-orange;
      text-shadow: 0 1rem 1rem rgba($color-black, .2);
    }

    &:hover {
      width: 100%;
    }
}