.section-landing {
    padding: 10rem 20rem;
    display: flex;
    justify-content: center;
    height: 90vh;
    background-image: linear-gradient(to bottom, #cfd9df 0%, #fff 100%);
    opacity: 0;
    animation: fadeIn .5s;
    animation-fill-mode: forwards;
    position: relative;

    @include respond(desktop-small) {
        padding: 10rem 10rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
    }

    @include respond(phone) {
        padding: 0;
    }

    &__text {
        flex: 1;
        align-self: center;

         @include respond(tab-port) {
            order: 1;
            text-align: center;
        }
    }

    &__profile {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(desktop-small) {
            flex-shrink: 1;
        }

        @include respond(tab-port) {
            margin: 2.5rem 0;
        }
    }

    &__img {
        display: block;
        width: 40rem;
        height: 40rem;
        object-fit: cover;
        image-rendering: auto;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        border: solid 2px $color-primary-orange;
        box-shadow: 0 1.5rem 5rem rgba($color-black, .3);
        animation: moveBorderRadius 10s infinite alternate;
        transition: all 1s ease-in-out;

        @include respond(desktop-small) {
            width: 35rem;
            height: 35rem;
        }

        @include respond(phone) {
            width: 25rem;
            height: 25rem;
        }

        @media only screen and (max-width: 22em) {
            width: 20rem;
            height: 20rem;
        }
    }

    &__tech-stack {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include respond(tab-port) {
            justify-content: center;
        }

        span {
            font-size: 2.5rem;

            @include respond(desktop-small) {
                font-size: 1.5rem;
            }
        }
    }

    &__icons {
        display: inline-block;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > * {
            width: 5rem;
            height: 5rem;
            transition: all .2s;

            @include respond(desktop-small) {
                font-size: 4rem;
            }
        }

        & > *:hover {
            background-color: transparent;
            transform: scale(1.3);
        }

        &--html {
            color: $color-html;
        }

        &--css {
            color: $color-css;
        }

        &--js {
            color: $color-js;
        }

        &--react {
            color: $color-react;
        }

        &--wp {
            color: $color-wp;
        }

        &--php {
            color: $color-php;
        }

        &--shopify {
            color: $color-shopify;
        }
    }
}

.section-about {
    padding: 10rem 0 5rem 0;
    color: $color-grey-dark-3;

    &__text {
        font-size: 2rem;
        text-align: center;
        width: 80%;
        margin: 2rem auto;
    }

    &__strategies-container {
        display: flex;
        justify-content: center;
        gap: 10rem;

        @include respond(tab-land) {
            flex-wrap: wrap;
        }
    }

    &__btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section-featured-projects {
    padding: 15rem 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #fff 100%);

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 2rem;

        @include respond(tab-land) {
            flex-wrap: wrap;
        }

        @media only screen and (max-width: 900px) {
            display: block;
        }
    }

    &__btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}