//colors
$color-primary-blue: #336699;
$color-primary-orange: #FF9500;

$color-grey-dark-1: #999;
$color-grey-dark-2: #708090;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//icons-colors: 
$color-html: #E34F26;
$color-css: #1572B6;
$color-js: darken(#f7de1e, 8%);
$color-react: #61DAFB;
$color-wp: #21759B;
$color-php: #4F5B93;
$color-shopify: #7AB55C;


//fonts
$font-main: Poppins, sans-serif;
$font-exo: Exo, sans-serif;
$font-space-mono: Space Mono, monospace;
